SUPABASE_URL="https://vpyxpgidjlwkpuxvrzbn.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZweXhwZ2lkamx3a3B1eHZyemJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTgwMjUwNTQsImV4cCI6MjAzMzYwMTA1NH0.nA-Ka3q5aQsKon1NoXGNPTMKgVSqDd4FWHXQ2eTwR9Y"